@import url('https://fonts.cdnfonts.com/css/poppins');

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
}

::-webkit-scrollbar-thumb {
  background-color: var(--CL-primary); /* Set the color of the scrollbar thumb */
}

::-webkit-scrollbar-track {
  background-color: white; /* Set the color of the scrollbar track */
}

:root {
  --CL-blue-dark: #001d7a;

  /* Pattern */
  --CL-primary: #26223f;
  --CL-secondary: #3b38ff;
}

body {
  font-family: 'Poppins', sans-serif;
}

.bg-blue-dark {
  @apply bg-[var(--CL-blue-dark)];
}

/* NavLinks */

.active {
  @apply text-white rounded-md bg-[var(--CL-secondary)];
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
