@import url('https://fonts.cdnfonts.com/css/tilt-warp');
@import url('https://fonts.cdnfonts.com/css/larsseit-font-family');

:root {
  --CL-blue-light: #0575e6;
  --CL-blue-dark: #02298a;
  --CL-blue-darker: #021b79;
  --CL-purple: #2d2bc7;
}

body {
  font-family: 'Larsseit', sans-serif;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px; /* Adjust the width as needed */
}

::-webkit-scrollbar-thumb {
  background-color: var(--CL-purple); /* Set the color of the scrollbar thumb */
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Set the color of the scrollbar track */
}

.bg-blue-light {
  @apply bg-[var(--CL-blue-light)];
}

.bg-blue-dark {
  @apply bg-[var(--CL-blue-dark)];
}

.bg-blue-darker {
  @apply bg-[var(--CL-blue-darker)];
}

.bg-purple {
  @apply bg-[var(--CL-purple)];
}

/* NavLinks */

.active {
  @apply text-white rounded-lg bg-purple;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Tilt Warp', sans-serif;
}

button {
  @apply transition md:hover:scale-105 md:hover:shadow active:scale-95;
}
